{# ansible/roles/ratatoskr/templates/config.json.j2 #}
{{ {"toolbelt_url": ratatoskr_toolbelt_url, "n8n_chat_url": ratatoskr_n8n_chat_url, "state_dir": ratatoskr_state_dir, "poll_seconds": ratatoskr_poll_seconds, "forecasts_channel_id": ratatoskr_forecasts_channel_id, "chat_without_mention": ratatoskr_chat_without_mention} | to_nice_json }}
