# ansible/roles/k3s/templates/calico-installation.yaml.j2
# Calico Installation custom resource
# This tells the Tigera operator how to install Calico
# The operator reads this and creates all necessary Calico components

apiVersion: operator.tigera.io/v1
kind: Installation
metadata:
  name: default
spec:
  calicoNetwork:
    # Pin node IP autodetection to the VLAN 21 cluster subnet.
    # Workers have a second NIC on VLAN 20 (eth1, MetalLB pool); the default
    # firstFound autodetection bound the overlay to eth1 on the workers,
    # breaking cross-node vxlan. Pinning by CIDR forces the VLAN 21 address.
    nodeAddressAutodetectionV4:
      cidrs:
        - "10.0.21.0/24"
    ipPools:
      - blockSize: 26
        cidr: "10.42.0.0/16"
        encapsulation: VXLANCrossSubnet
        natOutgoing: Enabled
        nodeSelector: all()
---
apiVersion: operator.tigera.io/v1
kind: APIServer
metadata:
  name: default
spec: {}
